.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-item {
  background-color: #f8f8f8;
  color: black;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 40px); 
  max-width: calc(33.333% - 40px);
}

@media (max-width: 1024px) {
  .skill-item {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .skill-item {
    flex: 1 1 calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}

.skill-item h5 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.skillss {
  margin-bottom: 15px;
}

.fullDescription{
  text-align: left;
}